.success {
  color: green;
  font-size: 20px;
  border: solid green;
  background-color: lightgray;
  padding: 5px;
}

.error {
  color: red;
  font-size: 20px;
  border: solid red;
  background-color: lightgray;
  padding: 5px;
}
